@import url('https://fonts.googleapis.com/css2?family=Poppins');
html {
	font-family: 'Poppins', sans-serif !important;
	background-color: #5186ef;
}
body {
	min-height: 100%;
}
input[type=school], input[type=subject], select {
	margin-top: 10px;
	border:1px solid #9a9898;
	padding: 10px;
	border-radius:10px;
	text-align: left;
  }
  input[type=submit] {
	margin-top: 15px;
	border: none;
	padding: 7px;
	border-radius:10px;
	color: white;
	background-color: #0055FD;
	transition: all ease-in-out .5s;
  }
  
  input[type=submit]:hover {
	background-color: #0021FF;
	cursor: pointer;
  }
  .box {
	display: flex;
	flex-direction:column;
	position: relative;

  }
  section {
	margin: 40px;
  }
.black {
	background-color: black;
}
.white {
	color: white;
}
.round {
	border-radius: 20px;
}
.color {
	background-color: #5186ef;
}
.newResult {
	display: flex;
	justify-content: space-between;
  }
  .footer1 {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding-top: 30px;
  	padding-bottom: 30px;
	background-color: #D0DAEE;
  }